Package: scribe
Version: 2.1-6
Architecture: amd64
Maintainer: root <root@p-czc9015tv2.de17a.local>
Installed-Size: 856
Depends: libboost-filesystem1.40.0 (>= 1.40.0-1), libboost-system1.40.0 (>= 1.40.0-1), libc6 (>= 2.4), libevent-1.4-2 (>= 1.4.11-stable), libgcc1 (>= 1:4.1.1), libhdfs0, libstdc++6 (>= 4.4.0), thrift (= 20080411-r930898-6), python (>= 2.6.4), python-support (>= 0.90.0), thrift-fb303 (= 20080411-r930898-3), sun-java6-jdk (>= 6)
Section: devel
Priority: extra
Homepage: http://github.com/facebook/scribe
Description: Aggregating server for streamed log data
 Scribe is a server for aggregating log data streamed in real time from a large
 number of servers. It is designed to be scalable, extensible without client-side
 modification, and robust to failure of the network or any specific machine.
